<section class="text-center p-4">
<%= form_with(model: @user, local: true) do |form| %>

  <h1>Formulario para añadir nuevos usuarios</h1>

  <div class="row">
      <div class="form-group col-12 text-center">
        <%= form.label :email %>
        <%= form.text_field :email %>
      </div>
      <div class="form-group col-12 text-center">
        <%= form.label :password, "Contraseña" %>
        <%= form.password_field :password %>
      </div>
  </div>
  <div class="d-flex justify-content-center mb-2 mt-4">
    <%= form.submit "Guardar", class: "btn btn-dark" %>
    <%= link_to "Volver al nicio", root_path, class: "btn btn-danger"  %>
  </div>

<% end %>

</section>